# dein
[[plugins]]
repo = 'Shougo/dein.vim'

# vim のステータスラインをカスタマイズ
[[plugins]]
repo    = 'vim-airline/vim-airline'
depends = ['vim-airline-themes']

# vim-airline とセットのプラグイン
[[plugins]]
repo = 'vim-airline/vim-airline-themes'

# Material Color. Google が提唱したカラースキームを元に作成されている.
[[plugins]]
repo = 'kaicataldo/material.vim'

# 移動の高速化
[[plugins]]
repo = 'easymotion/vim-easymotion'

# コメント編集を効率化
[[plugins]]
repo = 'scrooloose/nerdcommenter'

# # f 検索・移動をより効率化
# [[plugins]]
# repo = 'rhysd/clever-f.vim'

# 編集中のコードを実行
[[plugins]]
repo = 'thinca/vim-quickrun'

# サブモードを作れるようにする
# 連続した入力（画面サイズの調節など）をするサブモードなどが作れる
[[plugins]]
repo = 'kana/vim-submode'

# インクリメンタルサーチツール
[[plugins]]
repo = 'junegunn/fzf'
build_on = '''
./install -all
'''

# インクリメンタルサーチツール
[[plugins]]
repo = 'junegunn/fzf.vim'

# Vim ウィンドウのリサイズツール
[[plugins]]
repo = 'simeji/winresizer'

# Vim LSP
[[plugins]]
repo = 'prabirshrestha/vim-lsp'

# Vim LSP
[[plugins]]
repo = 'mattn/vim-lsp-settings'

# Filer
[[plugins]]
repo = "Shougo/defx.nvim"

# [[plugins]]
# repo = 'neoclide/coc.nvim'
# build = './install.sh nightly'
# hook_add = 'source path/to/your/coc-setting.vim'
